@import "tailwindcss";
@import "@nuxt/ui";

:root {
  font-family: 'Outfit', sans-serif;
}

body {
  @apply bg-neutral-50 text-neutral-900 dark:bg-neutral-950 dark:text-neutral-50 antialiased;
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}